body {
  background: url(../images/bg/brushed_alu.png) repeat;
}
.container.content-wrapper{
  min-height: 700px;
}

#logo a img{
  height: 27px;
  width: 130px;
}

ul.menu li{
  margin: 0;
}

.menu i.halflings{
  margin-right: 5px;
}

#logo-footer{
  width: auto;
}

.floated.sidebar{
  /*position: relative;*/
}

span.reply ul li{
  line-height: 21px;
  padding: 0;
}

.comment-by a{
  color: #333;
}

.comment-by a:hover{
  color: #169FE6;
}

span.reply a{
  color: #169FE6;
}

span.reply a:hover{
  color: #888;
}

.custom-commentlist .indented{
  margin:0;
  /*padding-left: 50px;*/
}

.custom-commentlist .indented .mee{
  /*margin:0;*/
  margin-left: 50px;
}

.custom-commentlist .indented .custom-comment{
  /*padding-left: 100px;*/
}

.custom-commentlist .indented .comment-des{
  /*padding-left: -100px;*/
}

.custom-commentlist .indented .arrow-comment{
  /*margin-left: 0;*/
}

.custom-commentlist .custom-comment-wrapper{
  /*margin-bottom: 25px;*/
  /*margin-top: 0;*/
}

.custom-commentlist .comment-des{
  float: right;
  margin: 0;
  margin-bottom: 20px;
  /*width: auto;*/
  /*float: none;*/
  
  /*width: auto;*/
  /*margin-left: 80px;*/
}

.avatar img{
  width: 60px;
  height: 60px;
}

div.error,
div.warning{
  background-image: none;
}

.comment-by span.reply a{
  float: none;
}

.grippie{
  display: none;
}

#edit-actions{
  min-height: 38px
}

input[type="submit"]{
  margin-right: 10px;
}

/*ul li ul li #current{*/
/*  background: #fff;*/
/*}*/

select{
  padding: 8px 9px;
}

/* drupal tabs */
/*ul.tabs li a{*/
/*  padding: 5px 10px;*/
/*  */
/*}*/

.notification.success.tabs{
  background: #fafafa;
  /*background: transparent;*/
  border: none;
  color: #ccc;
  margin-bottom: 0;
  padding: 5px;
}

.notification.success.tabs .close{
  color: #ccc;
}

.notification.success.tabs .button{
  margin: 3px 5px 3px;
}


.form-item .description{
  /*color: #169FE6;*/
}

fieldset{
  background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
  margin: 0;
  margin-bottom: 10px;
	padding: 0 20px;
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
	box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

fieldset .fieldset-wrapper{
  margin: 0 0 20px
}

fieldset legend,
fieldset legend span{
  font-weight: bold;
  margin-bottom: 0;
}

div.user-picture{
  margin-top: 15px;
}

html.js fieldset.collapsed{
  border-width: 1px;
}

html.js input.form-autocomplete{
  background-position: 100% -35px;
}

html.js input.form-autocomplete.throbbing{
  background-position: 100% -18px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error{
  background-color: #FFF8F8;
  border: 1px solid red;
  
}

ul li.leaf{
  list-style: none;
}

li.expanded, li.collapsed, li.leaf{
  padding: 0;
}

/*.page-user #block-system-main{*/
/*  display: none;*/
/*}*/

.sidebar{
  padding-top: 20px;
}

.page-content{
  padding-top: 0;
}

.large-notice .user-picture{
  float: right;
}

.large-notice .user-picture img{
  border-radius: 2px;
}

.large-notice .profile{
  clear: none;
  /*width: 50%;*/
}

/*.large-notice .profile .field .field-label,*/
/*.large-notice .profile .field-name-field-first-name,*/
/*.large-notice .profile .field-name-field-last-name{*/
/*  display: none;*/
/*}*/

#breadcrumbs ul li{
  margin-left: 9px;
}

.sidebar li a.active{
  color: inherit;
}

.container .page-content{
  margin-bottom: 30px;
}
/*
#block-user-new a[href="/kinasaw"],
#block-user-online a[href="/kinasaw"]{
  display: none;
}*/

.post-content .link-wrapper{
  margin-top: 30px;
}

#autocomplete {
  border: solid 1px #e0e0e0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#autocomplete li{
  background: #fafafa;
  color: #808080;
  padding: 5px;
}

#autocomplete li.selected{
  background: #f5f5f5;
}

.vertical-tabs ul.vertical-tabs-list .selected strong{
  color: #666666;
}

.vertical-tabs ul.vertical-tabs-list li.selected{
  background: #fcfcfc;
}

label.option{
  vertical-align: middle;
  vertical-align: -3px;
}